# Docker
.dockerignore
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.dmypy.json
dmypy.json

# Node
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Flatpak
build-dir/
.flatpak-builder/

# IDE / Editor
.idea/
.vscode/
*.swp
*~